<header-content>
    <section header class="">
        <button type="button" (click)="ToggleStart()">{{StartLabel}}</button>
        <button type="button" (click)="Clear()">Clear</button>
    </section>
    <section content>
        <!-- <scroll-table>
           
            <table-header>
                <tr>
                    <th class="w-15-p"></th>
                    <th class="w-25-p">Name</th>
                    <th class="w-40-p">Value</th>
                    <th class="w-20-p">Description</th>
                </tr>
            </table-header>
            <table-body>
                <tr *ngFor="let item of Items | async" row #row>
                    <td class="w-15-p">{{item.Index}}</td>
                    <td class="w-25-p">{{item.Name}}</td>
                    <td class="w-40-p">{{item.Value}}</td>
                    <td class="w-20-p">{{item.Description}}</td>
                </tr>
            </table-body>
        </scroll-table> -->
        <data-table [Table]="Table"></data-table>
    </section>
</header-content>


 <!-- <section header>
                <tr>
                    <th class="w-15-p"></th>
                    <th class="w-25-p">Name</th>
                    <th class="w-40-p">Value</th>
                    <th class="w-20-p">Description</th>
                </tr>
            </section>

            <section body>
                <tr *ngFor="let item of Items | async" row>
                    <td class="w-15-p">{{item.Index}}</td>
                    <td class="w-25-p">{{item.Name}}</td>
                    <td class="w-40-p">{{item.Value}}</td>
                    <td class="w-20-p">{{item.Description}}</td>
                </tr>
            </section> -->